version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: t1task4db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/t1task4db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      JWT_SECRET: ${JWT_SECRET}
      JWT_ENC_SECRET: ${JWT_ENC_SECRET}
      CARD_ENC_SECRET: ${CARD_ENC_SECRET}
    ports:
      - "8080:8080"

volumes:
  pgdata:
